NODE_ENV=development
PORT=4000

POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5433
POSTGRESQL_DATABASE=freego
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres

BOT_TOKEN=
BOT_USERNAME=
MINI_APP_URL=

ADMIN_IDS=123456789,987654321

INIT_DATA_EXPIRE=3600
